$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$main-color: #3498db;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// for < IE10
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.home header {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: $main-color;
  }
}

header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

article {
  margin-bottom: 100px;
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #ffffff;
  text-align: center;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Override bootstrap
.home .nav li a {
  color: $main-color;
}

.home .nav li a:hover {
  color: #2980b9;
  background-color: #ffffff;
  border-bottom: 5px solid #2980b9;
  border-radius: 0;
}

// Override owl carousel
.owl-wrapper-outer {
  text-align: center;
}
